

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');


* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body {

    background: #252839;

}

.backgroundContainer{

    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;

}

.backgroundContainer .bubbles{

    position: relative;
    display: flex;

}

.backgroundContainer .bubbles span {

    position: relative;
    width: 30px;
    height: 30px;
    background: #0139b1;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 5px #002575,
    0 0 50px #0139b1,
    0 0 100px #0139b1;

    animation: bubblesAnimation 15s linear infinite;
    animation-duration: calc(125s / var(--i));

}

.bubbles span:nth-child(even)
{
    background: #9900ff;
    box-shadow: 0 0 0 5px #5d009b,
    0 0 50px #9900ff,
    0 0 100px #9900ff;
}

@keyframes bubblesAnimation {

    0%{

        transform: translateY(100vh) scale(0);

    }

    100%{

        transform: translateY(-10vh) scale(0.5);

    }
    
}

.container2 {
    text-align: center;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;

}


.container {
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.container span {

    text-transform: uppercase;
    display: block;

}

p.para{

    display: block;
    background: none;
    
    color: lightslategray;
    
    
    font-size: 100%;

    margin-top: 5%;
    

    animation: paraShow 5s 1;

}

@keyframes paraShow {

    0%{
        color: #252839;
    }

    30%{
        color: #252839;
    }

    60%{
        color: #252839;
    }

    100%{
        color: lightslategray;
    }
    
}


span.title {

    color: white;

    font-size: 60px;
    font-weight: 700;    

    letter-spacing: 8px;

    margin-bottom: 20px;

    background: none;

    position: relative;

    animation: tagtext 3s 1;


}





span.tag{

    font-size: 30px;
    margin-bottom: 20px;
    color: #01fe87;
 
    -webkit-text-stroke: 1px #02502c;
    opacity: 100%;

    animation: tagTextOpacityAnimation 3s 1;


}

@keyframes tagTextOpacityAnimation {
    
    0%{

        opacity: 0%;

    }
    
    30%{

        opacity: 0%;

    }    
    60%{

        opacity: 0%;

    }    
    100%{

        opacity: 100%;

    }


}

@keyframes tagtext {

    0%{
        color: #252839;
        margin-bottom: -55px;
    }

    30% {
        letter-spacing: 25px;
        margin-bottom: -55px;
        color: #4fc3dc;
    }

    60% {

        letter-spacing: 8px;
        margin-bottom: -55px;
        
        
        
       

    }


    
}




button.contactButton {

    position: relative;
    display: inline-block;
    border: none;

    margin: 10px 0;
    color: #fff;
    opacity: 100%;
    padding: 12px 60px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 2px;
    border-radius: 40px;
    margin-bottom: 3%;
    background: linear-gradient(90deg, #252839, #0162c8, #252839);
    animation: progressiveOpacityAnimation 2s 1;

}

button.contactButton:hover {

    cursor: pointer;


}

button.contactButton:active{

    animation: contactButtonClickAnimation 1s 1;

}

@keyframes contactButtonClickAnimation {
    
    0%{

        padding: 12px 36px;

    }
}

button.myCreationsButton {

    position: relative;
    display: inline-block;
    border: none;

    margin: 10px 0;
    color: #fff;
    opacity: 100%;
    padding: 12px 60px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 2px;
    border-radius: 40px;
    margin-bottom: 10%;
    background: linear-gradient(90deg, #252839, #c85e01, #252839);
    animation: contactButtonShowAnimation 2s 1;

}

button.myCreationsButton:hover {

    cursor: pointer;


}

button.myCreationsButton:active{

    animation: contactButtonClickAnimation 1s 1;

}

h2.copyright {
    color: white;
    font-size: 20px;
    text-align: center;
    position: absolute;
    
    bottom: -30%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    animation: progressiveOpacityAnimation 4s 1;
    
    

}

div.socials button {

    text-align: center;
    position: absolute;
 
    display: inline-block;
    position: relative;
  
    border: none;
   
    color: #fff;
    opacity: 100%;
    padding: 12px 60px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 2px;
    border-radius: 40px;

    animation: progressiveOpacityAnimation 3s 1;
    

}

div.socials button:hover{
    cursor: pointer;
}


div.socials button:active{
    font-size: 15px;
}


div.socials button.btn-discord {
    background: linear-gradient(90deg, #252839, #3d01c8, #252839);
}

div.socials button.btn-twitch {
    background: linear-gradient(90deg, #252839, #9301c8, #252839);
}

div.socials button.btn-tiktok {
    background: linear-gradient(90deg, #252839, #9e0559, #252839);
}
div.socials button.btn-github {
 
    background: linear-gradient(90deg, #252839, #464043, #252839);
}

@keyframes progressiveOpacityAnimation {
    
    0%{
        opacity: 0%;
    }

    30%{
        opacity: 0%;
    }
    

    60%{
        opacity: 0%;
    }

    100%{
        opacity: 100%;
    }
}





/*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppings', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

    background: #252839;
}

h1.title {
    margin-top: 15%;
    position: relative;
    font-size: 5vw;
    color: #252839;
    background: white;
    -webkit-text-stroke: 0.3vw #383d52;
    text-transform: uppercase;

}



h1.title::before {

    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    color: #01fe87;
    -webkit-text-stroke: 0vw #383d52;
    border-right: 2px solid #01fe87;
    overflow: hidden;
    animation: animate 6s linear infinite;
}

@keyframes animate
{

    0%, 10%, 100%
    {
        width: 0;
    }
    70%, 90%
    {
        width: 100%;
    }

}*/

.container label.line {

    text-decoration: #fff underline;
    text-underline-offset: 10px;
    animation: progressiveOpacityAnimation 2.2s 1;
    
}











